#scrollable{
  height: auto;
  max-height: 50vh;
  overflow-x: hidden;
}

#search{
  width:90%;
  padding: 2px;
  margin-left: 5%;
}

.nav-item1{
  position:relative;
}

.client_public_address1{
  opacity: 1;
  white-space: nowrap; 
  width: 70px; 
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 0.2s ease-in;
}

.main-container{
  width: 80vw;
}

.client_public_address2{
  opacity: 0;
  position: absolute;
  top:0;
  border-radius: 10px;
  transition: opacity 0.2s ease-in;
}

.nav-item1:hover .client_public_address2{
  opacity: 1;
}
.nav-item1:hover .client_public_address1{
  opacity: 0;
}

#navbarDropdown{
  color: rgb(34, 34, 34);
  font-weight: 500;
}

#plus{
  font-weight: bolder;
  font-size:20px;
}

.user_privilege{
  color: rgb(61, 61, 61);
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
}

.add_account_heading{
  font-size: 18px;
}

.add_account{
  align-items: center;
  margin-top:40px;
  padding: 0 20px;
}

.names{
  margin-top: 20px;
  padding: 0 20px;
}

.names_btn_container{
  position: relative;
  display: inline-block;
}

.names_btn{
  margin-left: 10px;
  margin-bottom: 10px;
}

.selected_user{
 border: dashed 2px rgb(255, 255, 255);
}

.names_btn_container span{
  height: 15px;
  width: 15px;
  position: absolute;
  top: -10px;
  right: -7px;
  border-radius: 50%;
  cursor: pointer;
}

.names_btn_container span img{
  height: 100%;
  width: auto;
}

.names_btn_container span img:hover{
  transform: scale(1.2);
}

.expenses{
  border: grey 2px solid;
  border-radius: 5px;
  padding: 20px 20px;
  margin: 20px;
  align-items: center;
}

#total_expense{
  width: 200px;
}

#expense_details{
  margin-top: 10px;
  width: 200px;
}

#add_exp_btn{
  color:white;
}

.table_container{
  max-height: 40vh;
  overflow-y: auto;
}

.table-expenses{
  text-align: center;
}

tbody{
  font-size: small;
}

.expense_delete{
  font-size: small;
}
